In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv("HousingData.csv")

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
boston = load_boston()

In [5]:
df=pd.DataFrame(boston.data, columns=boston.feature_names)

In [6]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
y=pd.DataFrame(boston.target, columns=["price"])

In [8]:
df.shape

(506, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [10]:
df.describe(include="all")

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [11]:
x_train, x_test, y_train, y_test = train_test_split(df, y, test_size=0.3, random_state=5)

In [12]:
model=LinearRegression()

In [13]:
model.fit(x_train,y_train)

LinearRegression()

In [14]:
y_pred=model.predict(x_test)

In [15]:
mean_squared_error(y_test,y_pred)

30.69703770408852

# Lasso

In [16]:
ls=Lasso()

In [17]:
ls.fit(x_train,y_train)

Lasso()

In [18]:
yl_pred=ls.predict(x_test)

In [19]:
mean_squared_error(y_test,yl_pred)

36.30879918486973

# Ridge

In [20]:
rd=Ridge()

In [21]:
rd.fit(x_train,y_train)

Ridge()

In [22]:
yr_pred=rd.predict(x_test)

In [23]:
mean_squared_error(y_test,yr_pred)

31.508451580046994

### Run for loop to get best value of alpha (manual hyperparameter tuning)

In [24]:
for i in range(1,11):
    rd = Ridge(alpha=i/1000)
    rd.fit(x_train,y_train)
    rd_pred = rd.predict(x_test)
    print(f'The parameter {i/1000} gives mse as: {mean_squared_error(y_test, rd_pred)}')

The parameter 0.001 gives mse as: 30.69834083194971
The parameter 0.002 gives mse as: 30.69964260345274
The parameter 0.003 gives mse as: 30.700943019032792
The parameter 0.004 gives mse as: 30.70224207913737
The parameter 0.005 gives mse as: 30.703539784226347
The parameter 0.006 gives mse as: 30.70483613477196
The parameter 0.007 gives mse as: 30.706131131258434
The parameter 0.008 gives mse as: 30.707424774182083
The parameter 0.009 gives mse as: 30.708717064051022
The parameter 0.01 gives mse as: 30.71000800138516

In [25]:
parameters = [1e-19,1e-17,1e-15,1e-13, 1e-11, 1e-9,1e-7,1e-5,1e-3,1e-1,0.3,0.5,0.7,0.9,1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100,200,300,400,500]
for i in parameters:
    rd = Ridge(alpha=i)
    rd.fit(x_train,y_train)
    rd_pred = rd.predict(x_test)
    print(f'The parameter {i} gives mse as: {mean_squared_error(y_test, rd_pred)}')

The parameter 1e-19 gives mse as: 30.697037704088597
The parameter 1e-17 gives mse as: 30.697037704088597
The parameter 1e-15 gives mse as: 30.697037704088615
The parameter 1e-13 gives mse as: 30.697037704088732
The parameter 1e-11 gives mse as: 30.69703770410165
The parameter 1e-09 gives mse as: 30.697037705392404
The parameter 1e-07 gives mse as: 30.69703783446922
The parameter 1e-05 gives mse as: 30.697050742082585
The parameter 0.001 gives mse as: 30.69834083194971
The parameter 0.1 gives mse as: 30.820747242092835
The parameter 0.3 gives mse as: 31.031456805553454
The parameter 0.5 gives mse as: 31.20190362664289
The parameter 0.7 gives mse as: 31.34151924840877
The parameter 0.9 gives mse as: 31.457550996385134
The parameter 1 gives mse as: 31.508451580046994
The parameter 2 gives mse as: 31.85418867376832
The parameter 3 gives mse as: 32.04434457950862
The parameter 4 gives mse as: 32.165865258808786
The parameter 5 gives mse as: 32.25127809748187
The parameter 6 gives mse as: 32.315420246055005
The parameter 7 gives mse as: 32.366017772369894
The parameter 8 gives mse as: 32.40749074314786
The parameter 9 gives mse as: 32.442551580929624
The parameter 10 gives mse as: 32.47295738608792
The parameter 20 gives mse as: 32.67184118432276
The parameter 30 gives mse as: 32.81936682008611
The parameter 40 gives mse as: 32.959948706390975
The parameter 50 gives mse as: 33.09900076106853
The parameter 60 gives mse as: 33.23632446664475
The parameter 70 gives mse as: 33.37095803656294
The parameter 80 gives mse as: 33.502101393372776
The parameter 90 gives mse as: 33.62924525942798
The parameter 100 gives mse as: 33.75212788003305
The parameter 200 gives mse as: 34.76350595406956
The parameter 300 gives mse as: 35.49951382249146
The parameter 400 gives mse as: 36.08336294621527
The parameter 500 gives mse as: 36.57644256148671

In [26]:
rd = Ridge(alpha= 1e-15)
rd.fit(x_train,y_train)
rd_pred = rd.predict(x_test)
print(f'The parameter 1 gives mse as: {mean_squared_error(y_test, rd_pred)}')

The parameter 1 gives mse as: 30.697037704088615

In [27]:
parameters = [1e-19,1e-17,1e-15,1e-13, 1e-11, 1e-9,1e-7,1e-5,1e-3,1e-1,0.3,0.5,0.7,0.9,1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100,200,300,400,500]
for i in parameters:
    ls = Lasso(alpha=i)
    ls.fit(x_train,y_train)
    ls_pred = ls.predict(x_test)
    print(f'The parameter {i} gives mse as: {mean_squared_error(y_test, rd_pred)}')

The parameter 1e-19 gives mse as: 30.697037704088615
The parameter 1e-17 gives mse as: 30.697037704088615
The parameter 1e-15 gives mse as: 30.697037704088615
The parameter 1e-13 gives mse as: 30.697037704088615
The parameter 1e-11 gives mse as: 30.697037704088615
The parameter 1e-09 gives mse as: 30.697037704088615
The parameter 1e-07 gives mse as: 30.697037704088615
The parameter 1e-05 gives mse as: 30.697037704088615
The parameter 0.001 gives mse as: 30.697037704088615
The parameter 0.1 gives mse as: 30.697037704088615
The parameter 0.3 gives mse as: 30.697037704088615
The parameter 0.5 gives mse as: 30.697037704088615
The parameter 0.7 gives mse as: 30.697037704088615
The parameter 0.9 gives mse as: 30.697037704088615
The parameter 1 gives mse as: 30.697037704088615
The parameter 2 gives mse as: 30.697037704088615
The parameter 3 gives mse as: 30.697037704088615
The parameter 4 gives mse as: 30.697037704088615
The parameter 5 gives mse as: 30.697037704088615
The parameter 6 gives mse as: 30.697037704088615
The parameter 7 gives mse as: 30.697037704088615
The parameter 8 gives mse as: 30.697037704088615
The parameter 9 gives mse as: 30.697037704088615
The parameter 10 gives mse as: 30.697037704088615
The parameter 20 gives mse as: 30.697037704088615
The parameter 30 gives mse as: 30.697037704088615
The parameter 40 gives mse as: 30.697037704088615
The parameter 50 gives mse as: 30.697037704088615
The parameter 60 gives mse as: 30.697037704088615
The parameter 70 gives mse as: 30.697037704088615
The parameter 80 gives mse as: 30.697037704088615
The parameter 90 gives mse as: 30.697037704088615
The parameter 100 gives mse as: 30.697037704088615
The parameter 200 gives mse as: 30.697037704088615
The parameter 300 gives mse as: 30.697037704088615
The parameter 400 gives mse as: 30.697037704088615
The parameter 500 gives mse as: 30.697037704088615

In [28]:
parameters = [1e-19,1e-17,1e-15,1e-13, 1e-11, 1e-9,1e-7,1e-5,1e-3,1e-1,0.3,0.5,0.7,0.9,1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100,200,300,400,500]
for i in parameters:
    ls = Lasso(alpha=i)
    ls.fit(x_train,y_train)
    ls_pred = ls.predict(x_test)
    print(f'The parameter {i} gives mse as: {mean_squared_error(y_test, ls_pred)}')

The parameter 1e-19 gives mse as: 30.697037704088537
The parameter 1e-17 gives mse as: 30.697037704088565
The parameter 1e-15 gives mse as: 30.697037704088654
The parameter 1e-13 gives mse as: 30.697037704093525
The parameter 1e-11 gives mse as: 30.697037704582034
The parameter 1e-09 gives mse as: 30.69703775343377
The parameter 1e-07 gives mse as: 30.697042638607638
The parameter 1e-05 gives mse as: 30.69753121006688
The parameter 0.001 gives mse as: 30.746936231274503
The parameter 0.1 gives mse as: 33.007037693263825
The parameter 0.3 gives mse as: 33.12240060816447
The parameter 0.5 gives mse as: 33.595278530600645
The parameter 0.7 gives mse as: 34.43615887923861
The parameter 0.9 gives mse as: 35.59838828014023
The parameter 1 gives mse as: 36.30879918486973
The parameter 2 gives mse as: 41.36738411714082
The parameter 3 gives mse as: 43.54285917371675
The parameter 4 gives mse as: 46.03802217842866
The parameter 5 gives mse as: 47.351470521619355
The parameter 6 gives mse as: 48.402980969891054
The parameter 7 gives mse as: 49.558768213295615
The parameter 8 gives mse as: 50.51187995949727
The parameter 9 gives mse as: 51.24827351479123
The parameter 10 gives mse as: 52.04252676056099
The parameter 20 gives mse as: 63.16751142847441
The parameter 30 gives mse as: 76.80662402516698
The parameter 40 gives mse as: 78.2045913300703
The parameter 50 gives mse as: 79.53226415303025
The parameter 60 gives mse as: 79.7558185871333
The parameter 70 gives mse as: 80.00418864875859
The parameter 80 gives mse as: 80.27747914428902
The parameter 90 gives mse as: 80.57542097362087
The parameter 100 gives mse as: 80.89831370338298
The parameter 200 gives mse as: 81.36778833860605
The parameter 300 gives mse as: 82.19118732797374
The parameter 400 gives mse as: 83.68972257558946
The parameter 500 gives mse as: 85.8633940814532

### Hyperparameter tuning using GridSearchCV

In [36]:
# Complete it as homework
from sklearn.model_selection import GridSearchCV
params={"alpha":parameters}
gcv = GridSearchCV(estimator=ls, param_grid=params, cv=10)
gcv.fit(df,y)

GridSearchCV(cv=10, estimator=Lasso(alpha=500),
             param_grid={'alpha': [1e-19, 1e-17, 1e-15, 1e-13, 1e-11, 1e-09,
                                   1e-07, 1e-05, 0.001, 0.1, 0.3, 0.5, 0.7, 0.9,
                                   1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40,
                                   50, 60, 70, ...]})

In [38]:
gcv.best_params_

{'alpha': 0.3}

In [39]:
gcv = GridSearchCV(estimator=rd, param_grid=params, cv=10)
gcv.fit(df,y)

GridSearchCV(cv=10, estimator=Ridge(alpha=1e-15),
             param_grid={'alpha': [1e-19, 1e-17, 1e-15, 1e-13, 1e-11, 1e-09,
                                   1e-07, 1e-05, 0.001, 0.1, 0.3, 0.5, 0.7, 0.9,
                                   1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40,
                                   50, 60, 70, ...]})

In [40]:
gcv.best_params_

{'alpha': 40}